<%= stylesheet_link_tag "open_graph_viewer.css" %>
<h1>Open Graph Viewer</h1>
<form id="open_grah_form">
    <label>Url:</label>
    <input id="open_graph_form_input"></input>
    <button>Submit</button>
    <div class="loader"></div>
</form>